
.bg-image {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(84, 223, 227), rgb(124, 165, 165), rgb(0, 255, 255));
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .about-section{
    display: flex;
  }
  @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

  #content {
      font-family: "Edu AU VIC WA NT Hand", cursive;
      font-optical-sizing: auto;
      /* font-weight: <weight>; */
      font-style: normal;
      font-size: 25px;
      box-shadow: 10px 10px 25px rgb(227, 84, 227);
      border-radius: 25px;
      padding: 20px;
      background-color: rgb(24, 24, 24);
      color: rgb(84, 223, 227);
      margin-left: 0;
      opacity: 0;
      /* padding-left: 0; */
  }
  
 
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  #imp{
    opacity: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  }

  #founder-img{
    /* transform: rotateX(180); */
    /* transform: rotateY(-180deg); */
    opacity: 0;
    height:350px;
    width:350px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .about-founder{
    text-align: center;
    opacity: 0;

  }

  .hk-chat-app {
    font-size: 25px;
    /* background-color: aliceblue; */
    border-radius: 80px;
    background-image: linear-gradient(90deg, rgba(255,0,0,0), rgb(92, 136, 143),  rgb(227, 84, 227));
    background-size: 200% 200%; /* Ensures the background gradient is large enough to move */
    animation: hk-chat-app-Animation 10s ease infinite;
}

@keyframes hk-chat-app-Animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#hk-img {
    transition: transform 2s;
}


#hk-img:hover {
  transform: scale(1.2);
    
}



.cubeContainer {
    perspective: 1000px;
  }
  
  .cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0) rotateY(0);
    margin: 100px auto;
  }
  
  .cube__face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(84, 223, 227);
    border: 2px solid #318CE7;
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    box-shadow: 0 0 20px #318CE7;
  }
  /* .cube__face.front,.cube__face.back ,.cube__face.right,.cube__face.left ,.cube__face.top  ,  .cube__face.bottom {
    border: 2px solid red;

  } */
  .cube__face.front  { transform: rotateY(  0deg) translateZ(50px); }
  .cube__face.back   { transform: rotateY(180deg) translateZ(50px); }
  .cube__face.right  { transform: rotateY( 90deg) translateZ(50px); }
  .cube__face.left   { transform: rotateY(-90deg) translateZ(50px); }
  .cube__face.top    { transform: rotateX( 90deg) translateZ(50px); }
  .cube__face.bottom { transform: rotateX(-90deg) translateZ(50px); }
  
  /* @keyframes glow {
    0% { box-shadow: 0 0 10px  #318CE7 0.5 }
    50% { box-shadow: 0 0 20px  ( #318CE7, 1); }
    100% { box-shadow: 0 0 10px  ( #318CE7, 0.5); }
  } */
  
  .cube {
    animation: glow 1.5s infinite alternate;
  }
  

  

  @media (max-width: 850px) {

    #hk-img{
      
    height: 150px;
    width: 150px;
    }
    .about-founder{
      font-size: 18px;
    }

    #founder-img{
        
    height: 220px;
    width: 220px;
    }

    #content{
      font-size: 16px;
    }


  }

  

  
  @media (max-width: 576px) {
    #hk-img{
      
      height: 100px;
      width: 100px;
      }
    .about-founder{
      font-size: 15px;
    }

    #founder-img{
        
    height: 150px;
    width: 150px;
    }

    #content{
      font-size: 12px;
    }
  }